/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2018, 7:08:04 PM
    Author     : Alec
*/

.subMenu {
	
	display:none;

}
.level {
	padding: .75rem;
}
.justify-right{
	justify-content: right;
}
.has-table-text-centered td, .has-table-text-centered th{
	text-align: center !important;
}
.top {
	margin: 0px auto 16px auto;
	padding-top: 0px;
}
.is-fullheight {
	height: 100%;
}
.has-default-cursor {
	cursor: default !important;
}
.hidden {
	display:none;
}

#dashboardSideNav {
	border-radius: 6px;
}

#hr-top{
	margin-top: 0px;
}
#hr-top{
	margin-top: 0px;
}

#workers {
	margin-left: 6px;
	list-style: inside;
	list-style-type: circle;
}

#fieldsBox {
	position: relative;
}

.expandable .title {
	cursor: pointer;
}

.expandContainer {
	height: 150px;
}

.expandIcon{
	padding-left: 20px;
}

.expandable.open .expandContainer {
	height: auto !important;
	overflow: visible !important;
}

#newFieldFormContainer {
	margin-top: 10px;
}

.is-strike{
	text-decoration: line-through;
}

#newIssueContainer{
	position: relative;
}

#newIssueContainer .is-pinned{
	position: fixed;
    top: 88px;
	left: 50%;
    width: 313.59px;
}

.version .issue {
	margin-bottom: 20px;
}

.version .issue .card-content {
	    padding-left: 0px;
		margin-left: -5px;
}
.version .issue .card-content .media-left{
	width: 135px;
}
.version .issue .card-content .media-left .button{
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5098039215686274);
}
.version .issue:last-child{
	margin-bottom: 0px;
}

@media screen and (min-width: 769px), print {
	#worklogModal {
		width: 90% !important;
	}
}

#worklogModal .task .task-head{
	height:60px;
	border-bottom: 1px solid hsl(0, 0%, 71%);
}
#worklogModal .task{
	border-left: 2px solid hsl(0, 0%, 71%);
	
}
#worklogModal .field:not(:last-child) {
    margin-bottom: 0px !important;
}

#worklogModal .field-row .column.field, #worklogModal .field-row .column.task{
	margin-bottom:0px;
	height: 108px !important;
	border-bottom: 2px solid hsl(0, 0%, 71%);
	
}


